.example-spacer {
    flex: 1 1 auto;
}

.example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    text-align: center;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(236, 236, 236, 0.5);
}


/* .example-menu {
  position: fixed;
} */