<mat-card class="header">
    <mat-card-title class="title">
        <i class="fas fa-persons-alt"></i> <span>About us/Contact Info</span>
    </mat-card-title>
</mat-card>
<mat-card class="body">
    <mat-divider>
    </mat-divider>
    <p><i class="fas fa-user-shield" style="font-size: 30px; margin-right:10px;color: blue; "></i> <span>Administrator</span></p>
    <p><i class="fas fa-envelope-square" style="font-size: 30px; margin-right:10px;color: rgb(255, 0, 0); "></i><span><a href="mailto:onlineadvertisement@gmail.com">onlineadvertisement</a></span></p>
    <p><i class="fas fa-phone-square-alt" style="font-size: 30px; margin-right:10px;color: rgb(0, 124, 17); "></i><span><a href="tel:+9876543xxx">9876543210</a></span></p>
    <p><i class="fas fa-mobile-alt" style="font-size: 30px; margin-right:10px;color: rgb(53, 74, 117); "></i><span><a href="tel:+9876543xxx">9876543210</a></span></p>
    <p><i class="fas fa-laptop-code" style="font-size: 30px; margin-right:10px;color: rgb(0, 195, 255); "></i><span>Ajay, vijay & Raja Gopal</span></p>
    <p><span></span></p>
    <p><span></span></p>
    <div class="action-btn" align="end">
        <button mat-stroked-button [mat-dialog-close] color="primary">close</button>
    </div>
</mat-card>
